* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: hsl(227, 75%, 14%);
    color: white;
}

.header {

    background-color: blue;
    width: 70dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 13rem;
    border-radius: 18px;
    padding: 0.5em;
}

.themes-settings {
    padding: 7px;
    border-radius: 10px;
    background-color: orange;
}

.light-theme {
    display: none;
}


.extension-body {
    margin: 2rem 13rem;
    padding: 1em;
    width: 70dvw;

}

.extension-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h5 {
    font-family: "Nata Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

button {
    width: 58px;
    border-radius: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

