* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  font-weight: 500;
  background-color: hsl(227, 75%, 14%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header {

  background-color: hsl(227, 11%, 56%);
  width: calc(100dvw - 30dvw);
  display: flex;
  justify-content: space-between;
  margin: 2rem 13rem;
  border-radius: 18px;
  padding: 0.5em;
}

.themes-settings {
  padding: 7px;
  border-radius: 10px;
  background-color: hsl(227, 11%, 37%);
  cursor: pointer;
}

.light-theme {
  display: none;
}


.extension-body {
  width: calc(100dvw - 30dvw);
}

.extension-menus {
  display: grid;
  grid-template-columns: 12fr 3fr;
  align-content: center;
  margin-bottom: 20px;
}

h5 {
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

button {
  width: 58px;
  border-radius: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.extension-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5%;
  row-gap: 1%;

}

.extensions-lists {
  width: 312px;
  height: 160px;
  background-color: hsl(226, 11%, 37%);
  border-radius: 15px;
  padding: 12px;
  color: white;

}

.extension-header {
  display: flex;
}

.extention-listdetails {
  margin-left: 15px;
}

.action-buttons {
  display: flex;
}

.extensionlistBtn {
  width: 65px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: hsl(226, 11%, 37%);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 55%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked+.slider {
  background-color: hsl(3, 86%, 64%);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.extension-footer {
  display: grid;
  grid-template-columns: 10fr 1fr;
  position: relative;
  top: 30%;
}

.add-background {
  background-color: hsl(3, 77%, 44%);
}

button:focus {
  background-color: hsl(3, 71%, 56%);
}

button:hover {
  background-color: hsl(3, 71%, 56%);
}


@media screen and (max-width: 480px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .extension-body {
    width: calc(100dvw - 4dvw);
  }
  .header {

    background-color: hsl(227, 11%, 56%);
    width: calc(100dvw - 4dvw);
    display: flex;
    justify-content: space-between;
    margin: 2rem 13rem;
    border-radius: 18px;
    padding: 0.5em;
  }

  .extension-content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.5%;
    row-gap: 1%;

  }

  .extensions-lists {
    width: calc(70dvw + 24dvw);;
    height: 185px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;

  }

  .extension-footer {
    display: grid;
    grid-template-columns: 10fr 1fr;
    position: relative;
    top: 30%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .extension-body {
    width: calc(100dvw - 4dvw);
  }

  p {
    width: calc(70dvw - 40dvw);

  }

  .header {

    background-color: hsl(227, 11%, 56%);
    width: calc(100dvw - 4dvw);
    display: flex;
    justify-content: space-between;
    margin: 2rem 13rem;
    border-radius: 18px;
    padding: 0.5em;
  }

  .extension-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 0.5%;
    row-gap: 1%;

  }

  .extensions-lists {
    width: calc(70dvw - 24dvw);
    height: 185px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;

  }

  .extension-footer {
    display: grid;
    grid-template-columns: 10fr 1fr;
    position: relative;
    top: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width :1000px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .extension-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 0.5%;
    row-gap: 1%;

  }

  .extensions-lists {
    width: calc(70dvw - 35dvw);
    ;
    height: 185px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;

  }
}

@media screen and (min-width: 1000px) and (max-width : 1060px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .extension-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5%;
    row-gap: 1%;

  }

  .extensions-lists {
    width: calc(70dvw - 35dvw);
    height: 185px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;

  }
}

@media screen and (min-width: 1060px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .extension-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5%;
    row-gap: 1%;

  }

  .extensions-lists {
    width: calc(70dvw - 47dvw);
    height: 185px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;
    font-weight: 700;

  }

  p {
    font-size: 14px;
  }
}