* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: hsl(227, 75%, 14%);
    color: white;
}

.header {

    background-color: blue;
    width: 70dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 13rem;
    border-radius: 18px;
    padding: 0.5em;
}

.themes-settings {
    padding: 7px;
    border-radius: 10px;
    background-color: orange;
}

.light-theme {
    display: none;
}


.extension-body {
    margin: 2rem 13rem;
    padding: 1em;
    width: 70dvw;

}

.extension-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h5 {
    font-family: "Nata Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

button {
    width: 58px;
    border-radius: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.extensions-lists {
    width: 321px;
    height: 160px;
    background-color: hsl(226, 11%, 37%);
    border-radius: 15px;
    padding: 12px;
    color: white;

}

.extension-header {
    display: flex;
}

.extention-listdetails {
    margin-left: 15px;
}

.extensionlistBtn {
    width: 65px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: hsl(226, 11%, 37%);
    color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.extension-footer{
    display:flex;
    justify-content: space-between;
   padding: 20px;
}
